body {
    font-size: 16px;
    color: #000;
    background-color: #e5e5e5;
    font-family: 'Oswald', sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(55,55,55, 0.4);;
    margin: 1em 0;
    padding: 0;
}

.navbar-default {
    background-color: #1f384d;
}

.navbar-brand h1 {
    font-family: 'Lobster', cursive;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    cursor: pointer;
    margin-right: 15px;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

.navbar .navbar-search {
    margin-top: 10px;
}

.input-group {
    width: 100%;
}

.navbar .navbar-search .search-query{
    background: #fff;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    color: #222;
    font-size: 14px;
    height: 40px;
    width: 100%;
    padding: 0 16px 0 32px;
    text-shadow: none;
    transition: all .3s;
}

.btn-weather {
    height: 40px;
}

#main {
    padding-left: 0;
}

.side-menu{
    width: 100%;
    padding:0;
    margin:0;
    float: left;
    min-height: 500px;
}

.side-menu ul{
    list-style-type: none;
    padding:0;
    margin:0;
    border:0;
    float:left;
    width: 100%;
    background-color: #efefef;
}

.side-menu li{
    margin:0;
    padding:0;
    border:0;

}

.side-menu-item a{
    cursor: pointer;
    float:left;
    margin:0;
    padding:13px 10px;
    text-decoration:none;
    border:1px solid #dddddd;
    border-bottom: 0;
    width: 100%;
    color: #1f384d;
}

.side-menu-item:last-child a{
    border-bottom: 1px solid #dddddd;
}

.side-menu-item a:hover{
    background-color: #ddd;
    border-left: 3px solid #676767;
}

#location-header {
    color: #1f384d;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 20px;
    padding: 5px 15px 20px;
}

.weather-square-lg {
    /* margin: 50px auto; center square */
    position: relative;
    height: 250px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #FFF;
}

.weather-square-lg:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.weather-image-lg {
    position:absolute;
    width: 100%;
    font-size: 7.5em;
    padding: 30px;
    text-align: center;
    color: yellow;
}

.weather-date {
    position:absolute;
    font-size: 1.3em;
    left: 15px;
    right: 15px;
    text-align: right;
    border-bottom: 1px solid rgba(55,55,55, 0.4);
}

.weather-min-temperature, .weather-actual-temperature, .weather-max-temperature {
    position: absolute;
    bottom: 0;
    font-size: 1.2em;
}

.weather-min-temperature {
    left: 15px;
    color:#0055FF;
}

.weather-actual-temperature {
    border-top: 1px solid rgba(55,55,55, 0.4);
    left: 15px;
    right: 15px;
    text-align: center;
    color: #555;
}

.weather-max-temperature {
    right: 15px;
    color: #FF2200;
}

.weather-info {
    position:relative;
    color: #1f384d;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 250px;
}

.weather-info:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.weather-info ul{
    position: absolute;
    list-style-type: none;
    left: 30px;
    top: 30px;
    width: 100%;
    font-size: 1.5em;
    line-height: 60px;
}

.weather-square-md {
    position: relative;
    margin-bottom: 50px;
    height: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: #FFF;
}

.weather-square-md:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.weather-image-md {
    position:absolute;
    width: 100%;
    font-size: 3.5em;
    padding: 30px;
    text-align: center;
    color: blue;
}

/* Footer */
.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #1f384d;
    border-top: 0;
    color: #fff;
}

.panel-footer p.footer-header{
    font-family: 'Lobster', cursive;
}

.panel-footer p.footer-content{

}

.panel-footer p.footer-content span {
    font-size: 0.9em;
    color: #aaa;
}

/* large screens */
@media (min-width: 1200px) {
    .navbar .navbar-search{
        width: 900px;
    }
}
/* medium screens */
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar .navbar-search{
        width: 700px;
    }
    .weather-square-lg{
        width: 250px;
    }
}
/* small screens */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-search{
        width: 500px;
    }

    .weather-square-lg {
        margin: 50px auto; /* center square */
        width: 250px;
    }

    .weather-square-md {
        margin: 50px auto; /* center square */
    }

    .weather-info {
        width: 250px;
        margin: 50px auto;
    }

    .panel-footer div div div {
        margin-bottom: 60px;
    }
}
/* extra small screens */
@media (max-width: 767px) {
    .navbar .navbar-search{
        margin-bottom: 10px;
    }

    .navbar-default .navbar-form {
        border: 0;
    }

    .weather-square-lg {
        margin: 50px auto; /* center square */
        width: 250px;
    }

    .weather-square-md {
        margin: 50px auto; /* center square */
        width: 200px;
    }

    .weather-info {
        width: 250px;
        margin: 50px auto;
    }

    .panel-footer div div div {
        margin-bottom: 60px;
    }

}